.active > .page-link{
        background-color : peru;
        cursor: pointer;
}

a{
        text-decoration: none;
        color: peru;
}

/*게시판 안에 있는 버튼들*/
.boardBtn{
        background-color: #a96522;
        color: white;
        border: none; width: 100px;
        font-size: 15px;text-align: center;
        border-radius: 8px;
}

/*게시판 상단 부분*/
.boardTopEtc{
        display: flex;
        justify-content: space-between;
}
/*검색창*/
.boardSearchBox{
        text-align: center;
        margin: 30px 0px;
        border-bottom: 1px solid #e8e8e8;
        padding-bottom: 20px;
}

/* 키워드 입력창*/
.boardSearchBox > .keyword{
        border: #e8e8e8;
        padding: 5px 10px;
        border-radius: 10px;
        width: 200px; font-size: 20px;

}
/*카테고리 선택박스*/
.boardBtnBox{
        margin: 15px 0px;
}

.categoryActive{
        background-color: rgb(65, 31, 4);
}
.boardWriteForm > .keyword{
        border: #e8e8e8;
        padding: 5px 10px;
        border-radius: 10px;
        width: 200px; font-size: 20px;
        margin: 10px 0px;
}
.writeButton{
        margin: 10px 0px;
}
/*수정창*/
.bcontent{
        background-color: white;
}
/* VIEW PAGE CSS*/
.boardViewBox{
        margin-top: 20px;
        padding: 50px;
}
.boardViewBox .viewTitle{
        margin-right: 10px;
        font-weight: bold;
}

.boardViewBox > div{
        padding: 20px 0px;
        border-bottom: 1px solid #e8e8e8;
}

.boardViewBox >div:nth-child(1){/*제목*/
       
        
}
.boardViewBox >div:nth-child(1) >span{font-size: 25px;}

.boardViewBox >div:nth-child(2){/*기타정보*/
        display: flex;
        justify-content: space-between;
}

.boardViewBox >div:nth-child(3){/*내용*/
        min-height: 500px;  /*높이*/
         /* min-height: ;최소높이: 내용물이 더 커지면 더 커진다. */
        /*  max-height: ;최대높이: 내용물이 더 작아지면 더 작아진다. */
}

.boardViewBox >div:nth-child(4){/*첨부파일*/

}



