{{>ezenweb/header}}
<div class="container">

        <div class="loginPage">
            <h3>로그인 페이지</h3>
            <div class="logBox">
            ID: <input type="text" id="id">
            PW: <input type="text" id="pw">
            </div>
            <a href="/member/signup"><button class="loginbtn" type="button">회원가입</button></a>
            <button class="loginbtn" type="button" onclick= "login()"> 로그인</button>

        </div>
</div>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/js/member.js"></script>
{{>ezenweb/footer}}